.page-footer {
  padding: 96px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}

.footer-container .footer-logo {
  display: block;
  text-align: center;
  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-title {
  margin-bottom: 16px;

  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-social-list {
  gap: 16px;
}

.footer-subscribe-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px 24px;
}

.footer-subscribe-input {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer-container {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-text-wrapper {
    max-width: 264px;
  }

  .footer-container .footer-logo,
  .footer-title {
    text-align: left;
  }

  .footer-subscribe-input {
    width: 264px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    padding: 0 108px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }

  .footer-container {
    gap: unset;
  }

  .footer-subscribe-wrapper {
    margin-left: auto;
  }

  .footer-text-wrapper {
    margin-right: 120px;
  }
}

.footer-subscribe-input::placeholder {
  color: #fff;
}

.footer-subscribe-input:focus {
  border-color: #31d0aa;
}

.footer-subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-width: 165px;
  padding: 8px 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;

  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-icon {
  fill: #fff;
}

.footer-social-link:hover,
.footer-social-link:focus,
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #31d0aa;
}
